@import '../../styles/variables';

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;

  @media (max-width: 1023px) {
    display: flex;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: $primary-blue;
    border-radius: 2px;
    transition: all 0.3s ease;

    &.open {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }
}

.mobileSidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 283px;
  height: 100vh;
  background-color: $white;
  z-index: 1000;
  transition: left 0.3s ease;
  overflow-y: auto;
  padding-top: 20px;

  @media (max-width: 1023px) {
    display: block;
  }

  @media (min-width: 1024px) {
    display: none;
  }

  &.open {
    left: 0;
  }
}
