// Media Query Mixins
@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$breakpoint-large}) {
    @content;
  }
}

// Flexbox Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Button Reset
@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-family: inherit;
}

// Input Reset
@mixin input-reset {
  border: none;
  outline: none;
  background: transparent;
  font-family: inherit;
}
