@import '../../styles/variables';

.layout {
  min-height: 100vh;
  background-color: $background;

  .mainContent {
    margin-left: 283px;
    margin-top: 100px;
    padding: 40px 60px;
    min-height: calc(100vh - 100px);

    @media (max-width: 1023px) {
      margin-left: 0;
      padding: 20px;
    }
  }
}

// Hide the desktop sidebar on mobile - only show via hamburger menu
@media (max-width: 1023px) {
  .layout > aside {
    display: none !important;
  }
}
